@{
    ViewData["Title"] = "Home Page";
    @model IEnumerable<TodoList>
}

<div >

    <h1 >Tre Träiga Tomtar</h1>
   <h3 class="Sub-title">Välkomen till vår webshop!</h3>

   <h2 class="aboutus">Om oss</h2>
   <p class="aboutusParag">Välkommen till Tre Träiga Tomtar – ett hantverksföretag som specialiserar sig på att skapa unika tomtefigurer i trä.<br /> Vi är tre engagerade träarbetare som delar en passion för kvalitet, design och traditionellt svenskt hantverk. <br /> </p>

<h2 class="workshop">Vår verksamhet</h2>
<p class="workshopParag">Hos oss står varje produkt i centrum. Alla våra tomtefigurer tillverkas för hand från noggrant utvalda träslag. <br />Genom ett kombinerat fokus på precision, formgivning och hållbarhet skapar vi figurer med både karaktär och lång livslängd.<br /><br />Vårt mål är att erbjuda produkter som inte bara fungerar som dekoration, utan som också bär på en känsla av tradition och genuint hantverk.</p>

        <ul class ="ul-list">
        @foreach (TodoList list in Model)
        {
            <li><a href="/home/list/@list.TodoListId">@list.Name</a></li>
        }
        </ul>
</div>