/* Navigation styling */
.Navbar ul {
  list-style-type: none;
  background: rgba(128, 128, 128, 0.219);
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.Navbar a {
  color: black;
  text-decoration: none;
  padding: 25px;
  display: block;
  text-align: center;
  margin-left: 10px;
}

.Navbar a:hover {
  background-color: rgba(59, 59, 59, 0.527);
}

.Navbar li {
  float: left;
}
